@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Teko:wght@300;400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: all .3s ease-in-out;
}
html{
	font-family: 'eurostileextended-roman-dtc-regular', sans-serif;
	scroll-behavior: smooth;
	transition: all .3s ease-in-out;
}
/*////////////start off point////////*/
/*//////////////////////////////////*/
.header{
	position: fixed;
	width: 100%;
	padding: 10px 0;
	background: #69b280;
	justify-content: center;
	text-align: center;
	border-bottom: 3px solid white;
}
.header h1{
	font-size: 40px;
	letter-spacing: 10px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 1rem;
	text-shadow: 0px 0.5px 8px rgb(1, 66, 1);
	font-weight: 500;
}
.header-btn{
	width: 7rem;
	padding: 4px 23px;
	margin-bottom: 5px;
	outline: none;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: transparent;
}
.header-btn a{
	font-size: 13px;
	color: white;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
}
.header-btn:hover{
	background-color: seagreen;
	transition: .3s ease-in-out;
	cursor: pointer;
}
/*/////start of main form input//////*/
/*//////////////////////////////////*/
.main-content{
	padding-top: 6.4rem;
	width: 100%;
}
.content-box{
	padding: 10px 0;
}
.sidebar{
	width: 40%;
	height: 100%;
	position:fixed;
	background: #fff;
}
.content h2{
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	color: darkred;
	padding-top: 7px;
	margin-bottom: 10px;
}
.form-2	h3{
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 500;
	color: black;
	margin-bottom: 10px;
}
form{
	padding: 8px 0;
	background-color: #69b280;
	width: 80%;
	border: 1px solid grey;
	margin-left: 3rem;
}
form input{
	display: block;
	width: 15rem;
	padding: 8px 20px;
	outline: none;
	font-size: 14px;
	font-weight: 400;
	color: black;
	margin:0 auto;
	border: 1px solid grey;
	margin-top: 12px;
	margin-bottom: 1.2rem;
}
.item-select{
	color: white;
	font-size: 12px;
	font-weight: 400;
}
form span{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 55%;
	margin: 0 auto;
}
form .item-select p{
	font-size: 12px;
	font-weight: 300;
	display: inline-block;
}
.submit{
	background-color: #69b280;
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
	outline: none;
	border: 1px solid white;
	border-radius: 12px;
	padding: 8px 23px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 15px;
	transition: .3s ease-in-out;
}
.submit:active{
	transform: translateY(1.1rem);
	cursor: pointer;
}
.submit:hover{
	background-color: seagreen;
}
/*///////next point start//////*/
/*////////////////////////////*/

.menu-items{
	margin-left: 33rem;
	background: #69b280;
}
.item-names{
	text-align: center;
	padding-top: 10px;
	margin-bottom: 1rem;
}
.item-names h4{
	font-size: 23px;
	letter-spacing: 3px;
	color: white;
	text-transform: uppercase;
	font-weight: 520;
	padding-bottom: 1.2rem;
}
.item-names a{
	display: inline-block;
	font-size: 15px;
	color: white;
	padding-bottom: 1rem;
	letter-spacing: 1px;
	font-weight: 520;
	padding: 5px 16px;
	text-transform: uppercase;
	list-style: none;
}
.item-names a:hover{
	color: gold;
	cursor: pointer;
}
.solid-1{
	width: 73%;
	margin: 0 auto;
	margin-bottom: 15px;
}
.gallery-list{
	margin-top: 1rem;
}
.gallery-list h2{
	font-size: 23px;
	letter-spacing: 3px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	padding-bottom: 2rem;
}
.gallery-box{
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
}
.gallery-box .card img{
	width: 77px;
	height: 80px;
	border-radius: 10px;
	cursor: pointer;
	background-color: #69b280;
}
.gallery-box .card{
	width: 65px;
	cursor: pointer;
	height: 60px;
	background-color: #69b280;
}
.gallery-box .text h1{
	font-size: 14px;
	font-weight: 500;
	color: black;
	border-bottom: 1px solid #333;
	margin-bottom: 10px;
}
.gallery-box ul li{
	list-style: none;
	font-size: 13px;
	color: black;
	font-weight: 500;
	padding-top: 2px;
	padding-bottom: 4px;
}
.item-tag p{
	text-align: center;
	color: white;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 5px;
}
.form-1 h3{
	text-align: center;
	font-size: 23px;
	letter-spacing: 3px;
	font-weight: 200;
	color: white;
	margin-bottom: 10px;
}
.form-1 p{
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: black;
	margin-bottom: 1rem;
}
.tissue-tag{
	font-size: 23px;
	letter-spacing: 3px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	padding-bottom: 2rem;
}
.call-info{
	text-align: center;
}
.form-1 ol li{
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	align-items: center;
	text-align: center;
	list-style: none;
	color: white;
	margin-left: 3rem;
	font-weight: 500;
}
.call-info span{
	font-weight: 400;
}
.form-1 h4{
	text-align: center;
	font-size: 23px;
	letter-spacing: 3px;
	font-weight: 500;
	color: white;
	padding-left: 1rem;
	margin-bottom: 10px;
}
.form-1 .call-info-2 li{
	font-size: 14px;
	display: block;
	align-items: center;
	text-align: center;
	list-style: none;
	padding-right: 1.3rem;
	color: white;
	margin-bottom: 10px;
	letter-spacing: 1px;
	font-weight: 400;
}
/*/////////start of responsive view/////////*/
/*/////////////////////////////////////////*/
@media(max-width:1116px){
	.sidebar{
		width: 44%;
		height: 100%;
		position:fixed;
		background: #fff;
	}
	form{
		padding: 8px 0;
		background-color: #69b280;
		width: 75%;
		border: 1px solid grey;
		margin-left: 4rem;
	}
	.menu-items{
		margin-left: 30rem;
		background: #69b280;
	}
	.item-names h4{
		font-size: 21px;
		letter-spacing: 2px;
		font-weight: 510;
		padding-bottom: 1.2rem;
	}
	.item-names a{
		display: inline-block;
		font-size: 14px;
		padding-bottom: 1rem;
		font-weight: 500;
		padding: 5px 12px;
	}
	.gallery-list h2{
		font-size: 20px;
		letter-spacing: 2px;
		font-weight: 500;
		padding-bottom: 2rem;
	}
	.gallery-box{
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-left: 10px;
		padding-right: 10px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
}
@media(max-width:1062px){
	.content h2{
		text-align: center;
		font-size: 13px;
		font-weight: 400;
		color: darkred;
		padding-top: 7px;
		margin-bottom: 10px;
	}
	
}
@media(max-width:1024px){
	.gallery-list h2{
		font-size: 18px;
		letter-spacing: 1px;
		font-weight: 500;
		padding-bottom: 2rem;
	}
	.gallery-box{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	.gallery-box .card img{
		width: 73px;
		height: 70px;
		border-radius: 10px;
		cursor: pointer;
		background-color: #69b280;
	}
	.gallery-box .card{
		width: 66px;
		cursor: pointer;
		height: 60px;
		background-color: #69b280;
	}
}
@media(max-width:970px){
	.sidebar{
		width: 41%;
		height: 100%;
		position:fixed;
		background: #fff;
	}
	.content h2{
		text-align: center;
		font-size: 12px;
		font-weight: 400;
		color: darkred;
		padding-top: 7px;
		margin-bottom: 10px;
	}
	.menu-items{
		margin-left: 27rem;
		background: #69b280;
	}
	form span{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 75%;
		margin: 0 auto;
	}
	form .item-select p{
		font-size: 11px;
		font-weight: 300;
		display: inline-block;
	}
	.item-names h4{
		font-size: 21px;
		letter-spacing: 1px;
		font-weight: 510;
		padding-bottom: 1.2rem;
	}
	.item-names a{
		display: inline-block;
		font-size: 12px;
		padding-bottom: 1rem;
		font-weight: 500;
		padding: 5px 10px;
	}
	.gallery-list h2{
		font-size: 17px;
		letter-spacing: 1px;
		font-weight: 500;
		padding-bottom: 2rem;
	}
	.gallery-box{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	.gallery-box .card img{
		width: 73px;
		height: 70px;
		border-radius: 10px;
		cursor: pointer;
		background-color: #69b280;
	}
	.gallery-box .card{
		width: 66px;
		cursor: pointer;
		height: 60px;
		background-color: #69b280;
	}
	.gallery-box .text h1{
		font-size: 12px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.gallery-box ul li{
		font-size: 12px;
		font-weight: 500;
		padding-top: 2px;
		padding-bottom: 4px;
	}
	.form-1 h3{
		font-size: 21px;
		letter-spacing: 1px;
		font-weight: 200;
		margin-bottom: 10px;
	}
	.form-1 p{
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 1rem;
	}
	.tissue-tag{
		font-size: 14px;
		font-weight: 500;
		padding-bottom: 2rem;
	}
	.form-1 ol li{
		font-size: 14px;
		letter-spacing: 1px;
		display: inline-block;
		align-items: center;
		margin-left: 1rem;
		font-weight: 500;
	}
	.form-1 .call-info-2 li{
		font-size: 12px;
		padding-right: 1.3rem;
		margin-bottom: 10px;
		font-weight: 400;
	}
}
@media(max-width:854px){
	.sidebar{
		width: 39%;
		height: 100%;
		position:fixed;
		background: #fff;
	}
	.content h2{
		font-size: 11px;
		font-weight: 400;
		padding-top: 6px;
		padding-left: 1rem;
		margin-bottom: 10px;
	}
	.form-2	h3{
		font-size: 16px;
		letter-spacing: none;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.menu-items{
		margin-left: 24rem;
		background: #69b280;
	}
	.item-names h4{
		font-size: 19px;
		letter-spacing: 1px;
		font-weight: 500;
		padding-bottom: 1.2rem;
	}
	.item-names a{
		display: inline-block;
		font-size: 11px;
		padding-bottom: 1rem;
		font-weight: 500;
		padding: 5px 10px;
	}
	.gallery-list h2{
		font-size: 15px;
		letter-spacing: 1px;
		font-weight: 500;
		padding-bottom: 2rem;
	}
	.gallery-box{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 96%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	.gallery-box .card img{
		width: 70px;
		height: 70px;
		border-radius: 10px;
		background-color: #69b280;
	}
	.gallery-box .card{
		width: 63px;
		cursor: pointer;
		height: 60px;
		background-color: #69b280;
	}
	form{
		padding: 8px 0;
		background-color: #69b280;
		width: 78%;
	}
	form input{
		display: block;
		width: 13rem;
		padding: 8px 18px;
		font-size: 13px;
		font-weight: 400;
		margin:0 auto;
		margin-top: 12px;
		margin-bottom: 1.1rem;
	}
	.form-1 h3{
		font-size: 21px;
		letter-spacing: 1px;
		font-weight: 200;
		margin-bottom: 10px;
	}
	.form-1 h4{
		font-size: 22px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.form-1 p{
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 1rem;
	}
	.tissue-tag{
		font-size: 14px;
		font-weight: 500;
		padding-bottom: 2rem;
	}
	.form-1 ol li{
		font-size: 14px;
		letter-spacing: 1px;
		display: inline-block;
		align-items: center;
		margin-left: 1rem;
		font-weight: 500;
	}
	.form-1 .call-info-2 li{
		font-size: 12px;
		padding-right: 1.3rem;
		margin-bottom: 10px;
		font-weight: 400;
	}
}
@media(max-width:780px){
	.sidebar{
		width: 38%;
		height: 100%;
		position:fixed;
		background: #fff;
	}
	.content h2{
		font-size: 11px;
		font-weight: 400;
		padding-top: 5px;
		padding-left: 2rem;
		margin-bottom: 10px;
	}
	.form-2	h3{
		font-size: 15px;
		letter-spacing: none;
		font-weight: 500;
		padding-left: 1rem;
		margin-bottom: 10px;
	}
	form{
		padding: 8px 0;
		background-color: #69b280;
		width: 83%;
	}
	form input{
		display: block;
		width: 12rem;
		padding: 8px 14px;
		font-size: 12px;
		font-weight: 400;
		margin:0 auto;
		margin-top: 10px;
		margin-bottom: 1rem;
	}
	.item-tag p{
		font-size: 10px;
		font-weight: 200;
		margin-bottom: 5px;
	}
	.submit{
		font-weight: 300;
		padding: 8px 23px;
		font-size: 13px;
		transition: .3s ease-in-out;
	}
	.menu-items{
		margin-left: 23rem;
		background: #69b280;
	}
	.item-names a{
		display: inline-block;
		font-size: 10px;
		padding-bottom: 10px;
		font-weight: 400;
		padding: 5px 8px;
	}
	.gallery-box{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 96%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	.gallery-box .card img{
		width: 50px;
		height: 60px;
		border-radius: 10px;
		background-color: #69b280;
	}
	.gallery-box .card{
		width: 60px;
		height: 55px;
		background-color: #69b280;
	}
	.form-1 h3{
		font-size: 15px;
		font-weight: 200;
		margin-bottom: 10px;
	}
	.form-1 h4{
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.form-1 p{
		font-size: 11px;
		font-weight: 400;
		margin-bottom: 1rem;
	}
	.tissue-tag{
		font-size: 12px;
		font-weight: 500;
		padding-bottom: 2rem;
	}
	.form-1 ol li{
		font-size: 12px;
		display: inline-block;
		align-items: center;
		margin-left: 1rem;
		font-weight: 500;
	}
	.form-1 .call-info-2 li{
		font-size: 12px;
		padding-right: 1.3rem;
		margin-bottom: 7px;
		font-weight: 400;
	}
}
@media(max-width:716px){
	.sidebar{
		width: 35%;
		height: 100%;
		position:fixed;
		background: #fff;
	}
	form{
		padding: 8px 0;
		background-color: #69b280;
		width: 87%;
	}
	form input{
		display: block;
		width: 11rem;
		padding: 8px 12px;
		font-size: 11px;
		font-weight: 400;
		margin:0 auto;
		margin-top: 10px;
		margin-bottom: 1rem;
	}
	.menu-items{
		margin-left: 21rem;
		background: #69b280;
	}
	.item-names a{
		display: inline-block;
		font-size: 9px;
		padding-bottom: 10px;
		font-weight: 400;
		padding: 5px 6px;
	}
	.gallery-box{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 96%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	.gallery-box .card img{
		width: 50px;
		height: 50px;
		border-radius: 10px;
		background-color: #69b280;
	}
	.gallery-box .card{
		width: 55px;
		height: 50px;
		background-color: #69b280;
	}
}
@media(max-width:644px){
	.header h1{
		font-size: 30px;
		letter-spacing: 6px;
		margin-bottom: 1rem;
		font-weight: 500;
	}
	.header-btn{
		width: 6rem;
		padding: 4px 20px;
		margin-bottom: 5px;
	}
	.header-btn a{
		font-size: 12px;
		font-weight: 500;
	}
	.content h2{
		font-size: 10px;
		font-weight: 400;
		padding-top: 3px;
		padding-left: 20px;
		margin-bottom: 5px;
	}
	.form-2	h3{
		font-size: 13px;
		font-weight: 500;
		padding-left: 1rem;
		margin-bottom: 10px;
	}
	form{
		padding: 8px 0;
		background-color: #69b280;
		width: 95%;
		margin: 0 1.4rem;
	}
	form input{
		display: block;
		width: 11rem;
		padding: 8px 8px;
		font-size: 12px;
		font-weight: 400;
		margin:0 auto;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.item-tag p{
		font-size: 10px;
		font-weight: 200;
		margin-bottom: 5px;
	}
	.submit{
		font-weight: 300;
		padding: 7px 10px;
		font-size: 12px;
		transition: .3s ease-in-out;
	}
	.menu-items{
		margin-left: 18rem;
		background: #69b280;
	}
	.item-names h4{
		font-size: 17px;
		font-weight: 500;
		padding-bottom: 1.2rem;
	}
	.item-names a{
		display: inline-block;
		font-size: 10px;
		padding-bottom: 1rem;
		font-weight: 500;
		padding: 5px 5px;
	}
	.gallery-list h2{
		font-size: 13px;
		letter-spacing: 1px;
		font-weight: 500;
		padding-bottom: 1.5rem;
	}
	.gallery-box{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 97%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	.gallery-box .card img{
		width: 45px;
		height: 50px;
		border-radius: 10px;
		background-color: #69b280;
	}
	.gallery-box .card{
		width: 50px;
		height: 50px;
		background-color: #69b280;
	}
	.gallery-box .text h1{
		font-size: 12px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.gallery-box ul li{
		font-size: 11px;
		font-weight: 500;
		padding-top: 2px;
		padding-bottom: 4px;
	}
	.item-tag p{
		font-size: 10px;
		font-weight: 400;
		margin-bottom: 5px;
	}
	.form-1 h4{
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.form-1 p{
		font-size: 10px;
		font-weight: 400;
		margin-bottom: 1rem;
	}
	.form-1 ol li{
		font-size: 11px;
		font-weight: 400;
	}
	.form-1 .call-info-2 li{
		font-size: 11px;
		margin-bottom: 7px;
		font-weight: 400;
	}
}
@media(max-width:588px){
	.content h2{
		font-size: 9px;
		font-weight: 400;
		padding-top: 1px;
		padding-left: 10px;
		margin-bottom: 10px;
	}
	form{
		padding: 8px 0;
		background-color: #69b280;
		width: 95%;
		margin: 0 1.4rem;
	}
	form input{
		display: block;
		width: 10rem;
		padding: 7px 5px;
		font-size: 11px;
		font-weight: 400;
		margin:0 auto;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.item-tag p{
		font-size: 9px;
		font-weight: 200;
		margin-bottom: 5px;
	}
	.submit{
		font-weight: 300;
		padding: 7px 8px;
		font-size: 11px;
		transition: .3s ease-in-out;
	}
	.menu-items{
		margin-left: 16rem;
		background: #69b280;
	}
	.item-names h4{
		font-size: 15px;
		font-weight: 500;
		padding-bottom: 1rem;
	}
	.item-names a{
		display: inline-block;
		font-size: 9px;
		padding-bottom: 1rem;
		font-weight: 500;
		padding: 5px 3px;
	}
	.gallery-list h2{
		font-size: 12px;
		font-weight: 500;
		padding-bottom: 1.3rem;
	}
	.gallery-box{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 98%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	.gallery-box .card img{
		width: 43px;
		height: 45px;
	}
	.gallery-box .card{
		width: 45px;
		height: 45px;
	}
	.gallery-box .text h1{
		font-size: 11px;
		font-weight: 400;
		margin-bottom: 5px;
	}
	.gallery-box ul li{
		font-size: 11px;
		font-weight: 500;
		padding-top: 2px;
		padding-bottom: 4px;
	}
}
@media(max-width:532px){
	form{
		padding: 8px 0;
		background-color: #69b280;
		width: 97%;
		margin: 0 1.4rem;
	}
	form input{
		display: block;
		width: 9rem;
		padding: 6px 5px;
		font-size: 10px;
		font-weight: 400;
		margin:0 auto;
		margin-top: 10px;
		margin-bottom: 14px;
	}
	form span{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 85%;
		margin: 0 auto;
	}
	form .item-select p{
		font-size: 9px;
		font-weight: 300;
		display: inline-block;
	}
	.item-tag p{
		font-size: 7px;
		font-weight: 200;
		margin-bottom: 5px;
	}
	.submit{
		font-weight: 300;
		padding: 7px 7px;
		font-size: 11px;
		transition: .3s ease-in-out;
	}
	.menu-items{
		margin-left: 14rem;
		background: #69b280;
	}
	.gallery-box{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	.gallery-box .card img{
		width: 40px;
		height: 43px;
	}
	.gallery-box .card{
		width: 40px;
		height: 45px;
	}
	.form-1 h4{
		font-size: 15px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.form-1 p{
		font-size: 9px;
		font-weight: 400;
		margin-bottom: 1rem;
	}
	.form-1 ol li{
		font-size: 11px;
		font-weight: 400;
	}
	.form-1 .call-info-2 li{
		font-size: 11px;
		margin-bottom: 7px;
		font-weight: 400;
	}
}
@media(max-width:500px){
	.main-content{
		padding-top: 6rem;
	}
	form{
		padding: 8px 0;
		background-color: #69b280;
		width: 95%;
		margin: 0 1rem;
	}
	form input{
		display: block;
		width: 8rem;
		padding: 6px 5px;
		font-size: 10px;
		font-weight: 400;
		margin:0 auto;
		margin-top: 10px;
		margin-bottom: 14px;
	}
	.menu-items{
		margin-left: 13rem;
		background: #69b280;
	}
	.gallery-box{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	.gallery-box .card img{
		width: 40px;
		height: 43px;
	}
	.gallery-box .card{
		width: 40px;
		height: 45px;
	}
	.gallery-box .text h1{
		font-size: 10px;
		font-weight: 400;
		margin-bottom: 5px;
	}
	.gallery-box ul li{
		font-size: 10px;
		font-weight: 500;
		padding-top: 2px;
		padding-bottom: 4px;
	}
}
@media(max-width:468px){
	.sidebar{
		width: 33%;
		height: 100%;
	}
	.menu-items{
		margin-left: 11.5rem;
		background: #69b280;
	}
	.gallery-box{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	.gallery-box .card img{
		width: 40px;
		height: 43px;
	}
	.gallery-box .card{
		width: 40px;
		height: 45px;
	}
	.gallery-box .text h1{
		font-size: 10px;
		font-weight: 400;
		margin-bottom: 5px;
	}
	.gallery-box ul li{
		font-size: 10px;
		font-weight: 500;
		padding-top: 2px;
		padding-bottom: 4px;
	}
}
@media(max-width:432px){
	.sidebar{
		width: 32%;
		height: 100%;
	}
	.form-2	h3{
		font-size: 10px;
		font-weight: 500;
		letter-spacing: none;
		margin-bottom: 10px;
	}
	form{
		padding: 8px 0;
		background-color: #69b280;
		width: 93%;
		margin: 0 1rem;
	}
	form input{
		display: block;
		width: 7rem;
		padding: 5px 3px;
		font-size: 10px;
		font-weight: 400;
		margin:0 auto;
		margin-top: 10px;
		margin-bottom: 12px;
	}
	.submit{
		font-weight: 200;
		padding: 4px 5px;
		font-size: 10px;
		transition: .3s ease-in-out;
	}
	.menu-items{
		margin-left: 10rem;
		background: #69b280;
	}
	.gallery-box{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	.gallery-box .card img{
		width: 35px;
		height: 40px;
	}
	.gallery-box .card{
		width: 35px;
		height: 40px;
	}
	.gallery-box .text h1{
		font-size: 9px;
		font-weight: 400;
		margin-bottom: 3px;
	}
	.gallery-box ul li{
		font-size: 9px;
		font-weight: 500;
		padding-top: 1px;
		padding-bottom: 3px;
	}
	.form-1 h3{
		font-size: 13px;
		font-weight: 200;
		margin-bottom: 5px;
	}
	.form-1 h4{
		font-size: 13px;
		font-weight: 500;
		margin-bottom: 10px;
		padding-left: 0;
	}
	.form-1 p{
		font-size: 8px;
		font-weight: 400;
		margin-bottom: 5px;
	}
	.form-1 ol li{
		font-size: 10px;
		font-weight: 400;
		margin-left: 1rem;
	}
	.form-1 .call-info-2 li{
		font-size: 10px;
		margin-bottom: 5px;
		font-weight: 400;
		padding-left: 12px;
	}
}
@media(max-width:401px){
	.content h2{
		font-size: 8px;
		font-weight: 400;
		padding-top: 1px;
		margin-bottom: 10px;
	}
	form{
		padding: 8px 0;
		background-color: #69b280;
		width: 94%;
		margin: 0 1rem;
	}
	form input{
		display: block;
		width: 6rem;
		padding: 5px 3px;
		font-size: 9px;
		font-weight: 400;
		margin:0 auto;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.submit{
		font-weight: 100;
		padding: 4px 5px;
		font-size: 10px;
	}
	.menu-items{
		margin-left: 10rem;
	}
	.gallery-box{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	.gallery-box .card img{
		width: 33px;
		height: 37px;
	}
	.gallery-box .card{
		width: 33px;
		height: 37px;
	}
	.gallery-box .text h1{
		font-size: 8px;
		font-weight: 400;
		margin-bottom: 3px;
	}
	.gallery-box ul li{
		font-size: 8px;
		font-weight: 500;
		padding-top: 1px;
		padding-bottom: 3px;
	}
}
@media(max-width:375px){
	.header h1{
		font-size: 27px;
		letter-spacing: 4px;
		margin-bottom: 1rem;
		font-weight: 500;
	}
	.header-btn{
		width: 6rem;
		padding: 4px 8px;
		margin-bottom: 5px;
	}
	.header-btn a{
		font-size: 12px;
		font-weight: 500;
	}
	.content h2{
		font-size: 7px;
		font-weight: 400;
		padding-top: 1px;
		margin-bottom: 10px;
	}
	.form-2	h3{
		font-size: 8px;
		font-weight: 500;
		letter-spacing: none;
		margin-bottom: 10px;
	}
	.sidebar{
		width: 32%;
		height: 100%;
	}
	form{
		padding: 8px 0;
		background-color: #69b280;
		width: 96%;
		margin: 0 auto;
	}
	form input{
		display: block;
		width: 6rem;
		padding: 5px 3px;
		font-size: 8px;
		font-weight: 400;
		margin:0 auto;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.submit{
		font-weight: 100;
		padding: 4px 5px;
		font-size: 10px;
	}
	.menu-items{
		margin-left: 9rem;
	}
	.gallery-box{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	.gallery-box .card img{
		width: 30px;
		height: 35px;
	}
	.gallery-box .card{
		width: 30px;
		height: 35px;
	}
	.gallery-box .text h1{
		font-size: 8px;
		font-weight: 400;
		margin-bottom: 3px;
	}
	.gallery-box ul li{
		font-size: 7px;
		font-weight: 500;
		padding-top: 1px;
		padding-bottom: 3px;
	}
}
@media(max-width:339px){
	.content h2{
		font-size: 5px;
		font-weight: 400;
		padding-top: 1px;
		margin-bottom: 10px;
	}
	.form-2	h3{
		font-size: 6px;
		font-weight: 500;
		letter-spacing: none;
		margin-bottom: 10px;
	}
	.sidebar{
		width: 31%;
		height: 100%;
	}
	form{
		padding: 8px 0;
		width: 98%;
		margin: 0 3px;
	}
	form input{
		display: block;
		width: 5rem;
		padding: 5px 3px;
		font-size: 8px;
		font-weight: 400;
		margin:0 auto;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.menu-items{
		margin-left: 8rem;
	}
	.gallery-box{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		margin-bottom: 2rem;
	}
	.gallery-box .card img{
		width: 26px;
		height: 30px;
	}
	.gallery-box .card{
		width: 26px;
		height: 30px;
	}
	.gallery-box .text h1{
		font-size: 6.3px;
		font-weight: 400;
		margin-bottom: 3px;
	}
	.gallery-box ul li{
		font-size: 6px;
		font-weight: 500;
		padding-top: 1px;
		padding-bottom: 3px;
	}
	.form-1 h3{
		font-size: 11px;
		font-weight: 200;
		margin-bottom: 5px;
	}
	.form-1 h4{
		font-size: 11px;
		font-weight: 500;
		margin-bottom: 10px;
		padding-left: 0;
	}
	.form-1 p{
		font-size: 7px;
		font-weight: 400;
		margin-bottom: 5px;
	}
	.form-1 ol li{
		font-size: 9px;
		font-weight: 400;
		margin-left: 5px;
	}
	.form-1 .call-info-2 li{
		font-size: 9px;
		margin-bottom: 5px;
		font-weight: 400;
		padding-left: 10px;
	}
}
@media(max-width:320px){
	.main-content{
		padding-top: 5.2rem;
	}
	.header h1{
		font-size: 23px;
		letter-spacing: 3px;
		margin-bottom: 1rem;
		font-weight: 500;
	}
	.header-btn{
		width: 4rem;
		padding: 3px 4px;
		margin-bottom: 5px;
	}
	.header-btn a{
		font-size: 11px;
		font-weight: 500;
	}
	.content h2{
		font-size: 5px;
		font-weight: 400;
		padding-top: 1px;
		margin-bottom: 7px;
	}
	.form-2	h3{
		font-size: 6px;
		font-weight: 500;
		letter-spacing: none;
		margin-bottom: 10px;
	}
	.sidebar{
		width: 30%;
		height: 100%;
	}
	form{
		padding: 8px 0;
		width: 100%;
		margin: 0 3px;
	}
	form input{
		display: block;
		width: 4.5rem;
		padding: 5px 3px;
		font-size: 7px;
		font-weight: 300;
		margin:0 auto;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.submit{
		font-weight: 100;
		padding: 3px 4px;
		font-size: 8px;
	}
	form span{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		margin: 0 auto;
	}
	form .item-select p{
		font-size: 8px;
		font-weight: 300;
		display: inline-block;
	}
	.item-tag p{
		font-size: 6px;
		font-weight: 200;
		margin-bottom: 5px;
	}
	.menu-items{
		margin-left: 7rem;
	}
	.item-names h4{
		font-size: 13px;
		font-weight: 500;
		padding-bottom: 1rem;
	}
	.item-names a{
		display: inline-block;
		font-size: 8px;
		padding-bottom: 1rem;
		font-weight: 500;
		padding: 3px 3px;
	}
	.gallery-list h2{
		font-size: 10px;
		font-weight: 500;
		padding-bottom: 1.3rem;
	}
	.gallery-box{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		margin-bottom: 2rem;
	}
	.gallery-box .card img{
		width: 24px;
		height: 28px;
	}
	.gallery-box .card{
		width: 24px;
		height: 28px;
	}
	.form-1 h3{
		font-size: 11px;
		font-weight: 200;
		margin-bottom: 5px;
	}
	.form-1 h4{
		font-size: 10px;
		font-weight: 500;
		margin-bottom: 10px;
		padding-left: 0;
	}
	.form-1 p{
		font-size: 6px;
		font-weight: 400;
		margin-bottom: 5px;
	}
	.form-1 ol li{
		font-size: 8px;
		font-weight: 400;
		margin-left: 3px;
	}
	.form-1 .call-info-2 li{
		font-size: 8px;
		margin-bottom: 5px;
		font-weight: 400;
		padding-left: 8px;
	}
}