@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Teko:wght@300;400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: all .3s ease-in-out;
}
html{
	font-size: 62.5%;
	font-family: 'eurostileextended-roman-dtc-regular', sans-serif;
	scroll-behavior: smooth;
	transition: all .3s ease-in-out;
}
/*////////////start off point////////*/
/*//////////////////////////////////*/
.header{
	width: 100%;
	padding: 25px 0;
	text-align: center;
	box-shadow: 0 0 2rem 0 rgba(230,212,212,0.822);
	background-color:#69b280;
}
.header h1{
	font-size: 75px;
	font-weight: 600;
	line-height: 1.2;
	margin-top: 1rem;
	margin-bottom: 2rem;
	color: #fff;
	letter-spacing: 13px;
}
.header p{
	color: white;
	letter-spacing: 3px;
	font-weight: 400;
	margin-bottom: 2.5rem;
	font-size: 23px;
}
.hero-btn{
	width: 15rem;
	padding: 7px 25px;
	outline: none;
	border: 1px solid white;
	font-size: 15px;
	font-weight: 350;
	color: white;
	background-color: #69b280;
	text-decoration: none;
	border-radius: 10px;
	letter-spacing: 1px;
}
.hero-btn:hover{
	background-color:seagreen;
	transition: .3s ease-in;
}
/*//////End off Section/////////*/
/*/////////////////////////////*/
main{
	width: 100%;
}
.content{
	width: 100%;
	padding-top: 2rem;
	padding: 20px 0;
}
.content h2{
	text-align: center;
	width: 60%;
	margin: 0 auto;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	padding-top: 10px;
	color: black;
	line-height: 26px;
	margin-bottom: 3rem;
}
.content h3{
	text-align: center;
	font-size: 27px;
	color: black;
	font-weight: 450;
	letter-spacing: 3px;
	margin-bottom: 4rem;
}
.container{
	width: 90%;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	margin: 0 3rem;
	background-color: white;
}
.card{
	width: 45%;
	height: 50%;
	padding: 10px 0;
	text-align: center;
	margin-left: 3rem;
	box-shadow: 0 0 2rem 0 rgba(230,212,212,0.822);
}
.card img{
	width: 85%;
	height: 250px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 10px;
}
.text{
	text-align: center;
	padding: 5px 0;
	background-color:#69b280;
}
.text h1{
	color: white;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 3px;
	border-bottom: 1px solid grey;
	margin-bottom: 1.3rem;
}
.text ul li{
	list-style: none;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 400;
	color: white;
}
.card:hover{
	box-shadow: 0 1rem 4rem 0 rgba(230,212,212,0.822);
	transition: .3s ease-out;
	transform: scale(1.1);
	cursor: pointer;
}
.link{
	justify-content: center;
	align-content: center;
	text-align: center;
	margin-top: 3rem;
}
.link h4{
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 500;
	color: black;
	margin-bottom: 1rem;
}
button{
	width: 15rem;
	outline: none;
	border: 1px solid black;
	padding: 12px 25px;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 2.5rem;
	background-color: transparent;
}
button a{
	font-size: 15px;
	letter-spacing: 1px;
	color: black;
	font-weight: 600;
	text-decoration: none;
}
button:hover,button a:hover{
	background-color: #69b280;
	color: white;
	transition: .3s ease-in-out;
	cursor: pointer;
}
button:active{
	transform: translateY(1.2rem);
}
footer{
	width: 100%;
	padding: 10px 0;
	text-align: center;
	background-color: black;
}
footer p{
	font-size: 15px;
	font-weight: 350;
	letter-spacing: 1px;
	color: white;
}
/*////////Complete Full Webpage/////////*/
/*/////////////////////////////////////*/
/*///////start of responsive view/////*/
/*///////////////////////////////////*/
@media(max-width:952px){
	.content h2{
		width: 65%;
		margin: 0 auto;
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 1px;
		line-height: 26px;
		margin-bottom: 5rem;
	}
}
@media(max-width:800px){
	.container{
		width: 90%;
		display: block;
		margin: 0 auto;
	}
	.content h3{
		font-size: 23px;
		font-weight: 400;
		letter-spacing: 1px;
		margin-bottom: 4.5rem;
	}
	.card{
		width: 50%;
		height: 50%;
		padding: 10px 0;
		margin:0 auto;
		margin-bottom: 4rem;
	}
	.link{
		margin-top: 1rem;
	}
}
@media(max-width:592){
	.header{
		width: 100%;
		padding: 20px 0;
	}
	.header h1{
		font-size: 70px;
		font-weight: 600;
		line-height: 1.2;
		margin-top: 1rem;
		letter-spacing: 10px;
	}
	.header p{
		letter-spacing: 3px;
		font-weight: 400;
		margin-bottom: 1.5rem;
		font-size: 25px;
	}
	.content h2{
		width: 60%;
		margin: 0 auto;
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 1px;
		line-height: 26px;
		margin-bottom: 3rem;
	}
}
@media(max-width:518px){
	.header h1{
		font-size: 60px;
		font-weight: 500;
		line-height: 1.2;
		margin-top: 1rem;
		letter-spacing: 8px;
	}
	.header p{
		letter-spacing: 2px;
		font-weight: 400;
		margin-bottom: 1.3rem;
		font-size: 20px;
	}
	.hero-btn{
		width: 15rem;
		padding: 5px 25px;
		font-size: 15px;
		font-weight: 400;
		border-radius: 30px;
		letter-spacing: 1px;
	}
	.content h2{
		width: 70%;
		margin: 0 auto;
		font-size: 11px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 3rem;
	}
	footer p{
		font-size: 13px;
		font-weight: 400;
		letter-spacing: 0;
	}
}
@media(max-width:425px){
	.header{
		width: 100%;
		padding: 15px 0;
	}
	.header h1{
		font-size: 60px;
		font-weight: 500;
		line-height: 1.2;
		margin-top: 1rem;
		letter-spacing: 6px;
	}
	.content h2{
		line-height: 22px;
		margin-bottom: 2rem;
	}
	.content h3{
		margin-bottom: 4rem;
	}
	.card{
		width: 60%;
		height: 55%;
		padding: 10px 0;
		margin:0 auto;
		margin-bottom: 3rem;
	}
	.card img{
		width: 100%;
		height: 300px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.text h1{
		font-size: 30px;
		font-weight: 500;
		letter-spacing: 2px;
		margin-bottom: 1.1rem;
	}
	.text ul li{
		font-size: 16px;
		letter-spacing: 1px;
		font-weight: 400;
	}
	.link h4{
		font-size: 20px;
		letter-spacing: 0;
		font-weight: 500;
		margin-bottom: 1rem;
	}
	button{
		width: 15rem;
		border: 1px solid black;
		padding: 10px 23px;
		border-radius: 5px;
		margin-bottom: 2.5rem;
	}
	button a{
		font-size: 13px;
		letter-spacing: 0;
		font-weight: 500;
	}
	footer p{
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0;
	}
}
@media(max-width:375px){
	.header{
		width: 100%;
		padding: 12px 0;
	}
	.header h1{
		font-size: 50px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 4px;
	}
	.header p{
		margin-bottom: 1.1rem;
	}
	.hero-btn{
		width: 13rem;
		padding: 4px 23px;
		font-size: 14px;
		font-weight: 400;
		border-radius: 30px;
		letter-spacing: 0;
	}
	.content h2{
		width: 75%;
		font-size: 10px;
		font-weight: 500;
		line-height: 20px;
		margin-bottom: 2rem;
	}
	.content h3{
		margin-bottom: 3rem;
	}
	.card img{
		width: 100%;
		height: 250px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.text h1{
		font-size: 25px;
		font-weight: 500;
		letter-spacing: 1px;
		margin-bottom: 1.1rem;
	}
	.text ul li{
		font-size: 15px;
		letter-spacing: 1px;
		font-weight: 400;
		padding-bottom: 10px;
	}
	.link h4{
		font-size: 20px;
		letter-spacing: 0;
		font-weight: 400;
		margin-bottom: 1rem;
	}
	button{
		width: 13rem;
		border: 1px solid black;
		padding: 8px 21px;
		border-radius: 5px;
		margin-bottom: 2.5rem;
	}
	button a{
		font-size: 12px;
		letter-spacing: 0;
		font-weight: 500;
	}
}
@media(max-width:320px){
	.header{
		width: 100%;
		padding: 10px 0;
	}
	.header h1{
		font-size: 40px;
		font-weight: 500;
		line-height: 1.1;
		letter-spacing: 4px;
	}
	.header p{
		font-size: 15px;
		letter-spacing: none;
		margin-bottom: 1rem;
	}
	.hero-btn{
		width: 13rem;
		padding: 4px 23px;
		font-size: 14px;
		font-weight: 400;
		border-radius: 30px;
		letter-spacing: 0;
	}
	.content h2{
		width: 75%;
		font-size: 9px;
		font-weight: 500;
		text-align: left;
		line-height: 20px;
		margin-bottom: 2rem;
	}
	.content h3{
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 0px;
		margin-bottom: 2rem;
	}
	.card img{
		width: 100%;
		height: 200px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.text h1{
		font-size: 20px;
		font-weight: 500;
		letter-spacing: 0px;
		padding-top: 5px;
		margin-bottom: 1rem;
	}
	.text ul li{
		font-size: 13px;
		font-weight: 400;
		padding-bottom: 10px;
	}
	.link h4{
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 1rem;
	}
	button{
		width: 12rem;
		border: 1px solid black;
		padding: 5px 20px;
		border-radius: 5px;
		margin-bottom: 2.5rem;
	}
	button a{
		font-size: 12px;
		font-weight: 500;
	}
	footer p{
		font-size: 10px;
		font-weight: 400;
	}
}
@media(max-width:248px){
	.link h4{
		font-size: 15px;
		font-weight: 400;
		margin-bottom: 1rem;
	}
}
@media(max-width:218px){
	.header{
		width: 100%;
		padding: 10px 0;
	}
	.header h1{
		font-size: 35px;
		font-weight: 500;
		line-height: 1.1;
		letter-spacing: 2px;
	}
	.header p{
		font-size: 13px;
		margin-bottom: 1rem;
	}
	.hero-btn{
		width: 13rem;
		padding: 4px 20px;
		font-size: 12px;
		font-weight: 400;
		border-radius: 30px;
	}
	.content h2{
		width: 75%;
		font-size: 8px;
		font-weight: 500;
		text-align: left;
		line-height: 19px;
		margin-bottom: 2rem;
	}
	.link h4{
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 1rem;
	}
	button{
		width: 11rem;
		border: 1px solid black;
		padding: 5px 10px;
		border-radius: 5px;
		margin-bottom: 2.5rem;
	}
	button a{
		font-size: 11px;
		font-weight: 500;
	}
	footer p{
		font-size: 8px;
		font-weight: 400;
	}
}
/*/////////Complete Responsive View/////////*/
/*/////////////////////////////////////////*/